article,
.type-post,
.type-page,
.type-attachment,
.comments-area  {
	margin: 0 0 2.5em 0;
	padding: 0;
	max-width: 100%;
}

.entry-title {
	margin: 0.15em 0 0.2em;
	padding: 0;
	color: #303030;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size: 36px;
	font-size: 2.25rem;
	font-family: 'Rambla', Tahoma, Arial;
	line-height: 1.4;
}

.entry-title a:link,
.entry-title a:visited {
	color: #303030;
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:active {
	color: #cc5555;
}

.wp-post-image {
	margin: 0 0 1.25em;
	vertical-align: top;
}

.sticky {
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(0,0,0,0.075);
}

.entry-content a {
	text-decoration: underline;
}

/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.more-link:after {
	content: " \00BB";
}

/* Page Links | wp_link_pages() */
.page-links {
	clear: both;
	margin: 0 0 2em;
	word-spacing: 0.5em;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
}

/* Entry Meta */
.entry-meta {
	margin: 0.5em 0;
	color: rgba(0,0,0,0.45);
	font-size: 16px;
	font-size: 1rem;
}

.entry-meta .meta-date:after,
.entry-meta .meta-author:after {
	display: inline-block;
	margin: 0 1em 0 1em;
	color: rgba(0,0,0,0.15);
	content: "\007c";
}

/* Hide post meta if they are deactivated in settings */
body.date-hidden .type-post .entry-meta .meta-date,
body.author-hidden .type-post .entry-meta .meta-author,
body.categories-hidden .type-post .entry-meta .meta-category {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px
}

body.categories-hidden .content-area .type-post .entry-meta .meta-author:after,
body.author-hidden.categories-hidden .content-area .type-post .entry-meta .meta-date:after,
body.date-hidden.author-hidden.categories-hidden .content-area .type-post .entry-meta {
	display: none;
}

/* Entry Tags */
.entry-tags {
	margin: 0 0 2.5em;
	color: #999;
	font-size: 16px;
	font-size: 1rem;
}

/* Post Navigation */
.post-navigation {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-size: 1rem;
}

.post-navigation .nav-links .nav-previous {
	float: left;
	box-sizing: border-box;
	padding-right: 0.5em;
	max-width: 50%;
}

.post-navigation .nav-links .nav-next {
	float: right;
	box-sizing: border-box;
	padding-left: 0.5em;
	max-width: 50%;
}

.post-navigation .nav-links .nav-link-text {
	display: block;
	font-weight: bold;
}

.post-navigation .nav-links .nav-previous .nav-link-text:before {
	margin-right: 3px;
	content: "\00AB";
}

.post-navigation .nav-links .nav-next .nav-link-text:after {
	margin-left: 4px;
	content: "\00BB";
}

.post-navigation .nav-links .entry-title {
	font-size: 18px;
	font-size: 1.125rem;
}

/* Theme Pagination */
.pagination {
	margin: 0 0 2.5em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	padding: 0 0.5em;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: 'Rambla', Tahoma, Arial;
}

/* Infinite Scroll Pagination */
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle,
.infinite-scroll .infinite-loader {
	width: 100%;
	text-align: center;
}

.infinite-scroll .infinite-loader .spinner {
	bottom: -1em;
	left: auto;
	margin: 0 auto;
}

.infinite-scroll #infinite-handle span {
	display: inline-block;
	margin: 0 0 2.5em;
	padding: 0.6em 1em;
	border: 1px solid rgba(0,0,0,0.075);
	background: none;
	color: #cc5555;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
}

.infinite-scroll #infinite-handle span:hover {
	color: #303030;
}

/* Archives and Search Heading */
.page-header {
	margin: 0 0 1.5em;
	padding: 0;
}

.archive-title {
	margin: 0;
	padding: 0;
	color: #303030;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: normal;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: 'Rambla', Tahoma, Arial;
}

.blog-description,
.archive-description p {
	margin: 0.5em 0 0;
}

.page-header .search-form {
	margin: 1.25rem 0 2.5em;
}

/* Breadcrumbs */
.breadcrumbs {
	box-sizing: border-box;
	margin: 0 0 1.5em;
	padding: 0;
	width: 100%;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.breadcrumbs-container {
	font-size: 15px;
	font-size: 0.9375rem;
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
	display: inline;
	margin: 0;
	padding: 0;
}

.breadcrumbs .trail-browse {
	margin-right: 0.5em;
	font-weight: normal;
	font-size: 15px;
	font-size: 0.9375rem;
}

.breadcrumbs .trail-items {
	list-style: none;
}

.breadcrumbs .trail-items li::after {
	padding: 0 0.5em;
	content: "\00bb"; /* Raquo */
}

.trail-separator-slash .trail-items li::after { content: "\002F"; }
.trail-separator-dash .trail-items li::after { content: "\2013"; }
.trail-separator-bull .trail-items li::after { content: "\2022"; }
.trail-separator-arrow-bracket .trail-items li::after { content: "\003e"; }
.trail-separator-raquo .trail-items li::after { content: "\00bb"; }
.trail-separator-single-arrow .trail-items li::after { content: "\2192"; }
.trail-separator-double-arrow .trail-items li::after { content: "\21D2"; }

.breadcrumbs .trail-items li:last-of-type::after {
	display: none;
}
