article,
.type-post,
.type-page,
.type-attachment,
.comments-area {
	margin: 0 0 2.5em 0;
	padding: 0;
	max-width: 100%;
}

.entry-title {
	margin: 0.15em 0 0.2em;
	padding: 0;
	color: #303030;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size: 36px;
	font-size: 2.25rem;
	font-family: 'Rambla', Tahoma, Arial;
	line-height: 1.4;
}

.entry-title a:link,
.entry-title a:visited {
	color: #303030;
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:active {
	color: #cc5555;
}

.wp-post-image {
	margin: 0 0 1.25em;
	vertical-align: top;
}

.sticky {
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.entry-content a {
	text-decoration: underline;
}

/* Page Links | wp_link_pages() */
.page-links {
	clear: both;
	margin: 0 0 2em;
	word-spacing: 0.5em;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
}
