/* Entry Meta */
.entry-meta {
	margin: 0.5em 0;
	@include color(--light-text-color);
	font-size: 16px;
	font-size: 1rem;
}

.entry-meta .meta-date::after,
.entry-meta .meta-author::after {
	display: inline-block;
	margin: 0 1em 0 1em;
	@include color(--medium-border-color);
	content: "\007c";
}

/* Hide post meta if they are deactivated in settings */
body.date-hidden .type-post .entry-meta .meta-date,
body.author-hidden .type-post .entry-meta .meta-author,
body.categories-hidden .type-post .entry-meta .meta-category {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
}

body.categories-hidden .content-area .type-post .entry-meta .meta-author::after,
body.author-hidden.categories-hidden .content-area .type-post .entry-meta .meta-date::after,
body.date-hidden.author-hidden.categories-hidden .content-area .type-post .entry-meta {
	display: none;
}

/* Entry Tags */
.entry-tags {
	margin: 0 0 2.5em;
	@include color(--light-text-color);
	font-size: 16px;
	font-size: 1rem;
}
