/* Post Navigation */
.post-navigation {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-size: 1rem;
}

.post-navigation .nav-links .nav-previous {
	float: left;
	box-sizing: border-box;
	padding-right: 0.5em;
	max-width: 50%;
}

.post-navigation .nav-links .nav-next {
	float: right;
	box-sizing: border-box;
	padding-left: 0.5em;
	max-width: 50%;
}

.post-navigation .nav-links .nav-link-text {
	display: block;
	font-weight: bold;
}

.post-navigation .nav-links .nav-previous .nav-link-text::before {
	margin-right: 3px;
	content: "\00AB";
}

.post-navigation .nav-links .nav-next .nav-link-text::after {
	margin-left: 4px;
	content: "\00BB";
}

.post-navigation .nav-links .entry-title {
	font-size: 18px;
	font-size: 1.125rem;
}
