/*
 * Safari Flexbox CSS Fixes
 *
 * @package Chronus
 */

/* Fix Flexbox issues for Safari 6.1-10.0 */
@media screen and ( min-color-index: 0 ) and( -webkit-min-device-pixel-ratio: 0 ) {
	@media {
		.content-area,
		.sidebar,
		.featured-posts .featured-large-post,
		.featured-posts .featured-grid-posts,
		.featured-posts .featured-grid-posts .featured-small-post,
		.widget-magazine-posts .magazine-grid-two-columns .post-column,
		.widget-magazine-posts .magazine-grid-three-columns .post-column,
		.widget-magazine-posts .small-post .wp-post-image,
		.widget-magazine-posts .small-post .post-content,
		.widget-magazine-posts-columns .magazine-posts-column-left,
		.widget-magazine-posts-columns .magazine-posts-column-right,
		.widget-magazine-posts .medium-post .wp-post-image-link,
		.widget-magazine-posts .medium-post .post-content {
			margin-right: -1px;
		}
	}
}

/* Fix Flexbox issues for Safari 10.1+ */
@media not all and ( min-resolution: .001dpcm ) {
	@media {
		.content-area,
		.sidebar,
		.featured-posts .featured-large-post,
		.featured-posts .featured-grid-posts,
		.featured-posts .featured-grid-posts .featured-small-post,
		.widget-magazine-posts .magazine-grid-two-columns .post-column,
		.widget-magazine-posts .magazine-grid-three-columns .post-column,
		.widget-magazine-posts .small-post .wp-post-image,
		.widget-magazine-posts .small-post .post-content,
		.widget-magazine-posts-columns .magazine-posts-column-left,
		.widget-magazine-posts-columns .magazine-posts-column-right,
		.widget-magazine-posts .medium-post .wp-post-image-link,
		.widget-magazine-posts .medium-post .post-content {
			margin-right: -1px;
		}
	}
}
