.footer-wrap {
	padding: 0 0 2.5em;
}

.site-footer {
	border-top: 1px solid rgba(0,0,0,0.075);
	border-bottom: 1px solid rgba(0,0,0,0.075);
}

.site-footer .site-info {
	padding: 1em 0;
	text-align: center;
}
