.footer-wrap {
	padding: 0 0 2.5em;
}

.site-footer {
	border-top: 1px solid;
	border-bottom: 1px solid;
	@include border-color(--light-border-color);
}

.site-footer .site-info {
	padding: 1em 0;
	text-align: center;
}
