.site-header {
	margin: 0 0 2.5em;
	border-bottom: 1px solid;
	@include border-color(--light-border-color);
}

.header-main {
	padding: 2.5em 0;
	text-align: center;
}

.site-branding {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.site-branding a:link,
.site-branding a:visited,
.site-branding a:hover {
	padding: 0;
	border: none;
	text-decoration: none;
}

.site-title {
	display: block;
	margin: 0.15em 0;
	padding: 0;
	@include color(--title-color);
	text-decoration: none;
	@include font-size(48);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}

.site-title a:link,
.site-title a:visited {
	@include color(--title-color);
}

.site-title a:hover,
.site-title a:active {
	@include color(--title-hover-color);
}

.site-branding .custom-logo {
	margin: 0 0 0.5em;
	padding: 0;
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

.site-description {
	margin: 0;
}

/* Custom Header Image */
.header-image {
	margin: 0;
	text-align: center;
}

.header-image img {
	max-width: 100%;
	vertical-align: top;
}
