.site-header {
	margin: 0 0 2.5em;
	border-bottom: 1px solid rgba(0,0,0,0.075);
}

.header-main {
	padding: 2.5em 0;
	text-align: center;
}

.site-branding {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.site-branding a:link,
.site-branding a:visited,
.site-branding a:hover {
	padding: 0;
	border: none;
	text-decoration: none;
}

.site-title {
	display: block;
	margin: 0.15em 0;
	padding: 0;
	color: #303030;
	text-decoration: none;
	font-weight: bold;
	font-size: 48px;
	font-size: 3rem;
	font-family: 'Rambla', Tahoma, Arial;
	line-height: 1.4;
}

.site-title a:link,
.site-title a:visited {
	color: #303030;
}

.site-title a:hover,
.site-title a:active {
	color: #cc5555;
}

.site-branding .custom-logo {
	margin: 0 0 0.5em;
	padding: 0;
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

.site-description {
	margin: 0;
}

/* Custom Header Image */
.header-image {
	margin: 0;
	text-align: center;
}

.header-image img {
	max-width: 100%;
	vertical-align: top;
}
