.primary-navigation-wrap {
	border-top: 1px solid rgba(0, 0, 0, 0.075);
}

.primary-navigation {
	position: relative;
	width: 100%;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	color: #303030;
	list-style: none;
	@include font-size(20);
	font-family: 'Rambla', Tahoma, Arial;
}

.main-navigation > ul {
	border-top: 1px solid rgba(0, 0, 0, 0.075);
}

/* Hide the menu on small screens when JavaScript is available. */
.main-navigation ul,
.main-navigation .menu-item-has-children > a > .icon,
.main-navigation ul a > .icon {
	display: none;
}

.main-navigation.toggled-on > ul.menu {
	display: block;
}

/* Menu Items Styling */
.main-navigation ul li {
	position: relative;
	margin: 0;
	text-align: center;
}

.main-navigation ul a {
	display: block;
	margin: 0;
	padding: 0.75em 1em;
	text-decoration: none;
}

.main-navigation ul a,
.main-navigation ul a:link,
.main-navigation ul a:visited {
	color: #303030;
	text-decoration: none;
}

.main-navigation ul a:hover,
.main-navigation ul a:active,
.main-navigation ul a:focus {
	color: #cc5555;
}

.main-navigation ul li.current-menu-item > a {
	text-decoration: underline;
}

/* Submenus */
.main-navigation ul ul {
	@include font-size(16);
	background: #cc5555;
}

.is-amp-page .main-navigation ul ul,
.main-navigation ul ul.toggled-on {
	display: block;
}

.main-navigation ul ul a {
	padding: 1em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-navigation ul ul a:link,
.main-navigation ul ul a:visited {
	color: #fff;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a:active,
.main-navigation ul ul a:focus {
	color: rgba(255, 255, 255, 0.5);
}

/* Main Navigation Toggle */
.primary-menu-toggle {
	display: flex;
	margin: 0 auto;
	padding: 0.75em 1em;
	border: none;
	background: none;
	color: #303030;
	text-decoration: none;
	@include font-size(20);
	font-family: 'Rambla', Tahoma, Arial;
	font-weight: normal;
	text-align: left;
	align-items: center;
}

.primary-menu-toggle .menu-toggle-text {
	margin-left: 0.75em;
}

.primary-menu-toggle:focus {
	outline: thin dotted;
	color: #303030;
	background: none;
}

.primary-menu-toggle:hover,
.primary-menu-toggle:active {
	color: #cc5555;
	background: none;
	cursor: pointer;
}

.primary-menu-toggle .icon {
	margin: 0;
	width: 24px;
	height: 24px;
	vertical-align: top;
	fill: #303030;
}

.primary-menu-toggle:hover .icon,
.primary-menu-toggle:active .icon {
	fill: #cc5555;
}

.primary-menu-toggle[aria-expanded="true"] .icon-menu,
.primary-menu-toggle[aria-expanded="false"] .icon-close {
	display: none;
}

.primary-menu-toggle[aria-expanded="true"] .icon-close {
	display: inline-block;
}

/* Submenu Dropdown Toggles */
.main-navigation .dropdown-toggle {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	padding: 1.1em 1.5em;
	background: none;
	border: none;
}

.main-navigation .dropdown-toggle:focus {
	outline: thin dotted;
	color: #303030;
	background: none;
}

.main-navigation .dropdown-toggle:hover,
.main-navigation .dropdown-toggle:active {
	background: none;
}

.main-navigation .dropdown-toggle .icon {
	margin: 0.1em 0 0;
	width: 24px;
	height: 24px;
	vertical-align: top;
	fill: #303030;
}

.main-navigation .dropdown-toggle:hover .icon,
.main-navigation .dropdown-toggle:active .icon,
.main-navigation .dropdown-toggle:focus .icon {
	fill: #cc5555;
}

.main-navigation .dropdown-toggle.toggled-on .icon {
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
	transform: rotate(-180deg);
}

.main-navigation ul ul .dropdown-toggle {
	padding: 1em 1.25em;
}

.main-navigation ul ul .dropdown-toggle .icon {
	width: 20px;
	height: 20px;
	fill: #fff;
}

.main-navigation ul ul .dropdown-toggle:hover .icon,
.main-navigation ul ul .dropdown-toggle:active .icon,
.main-navigation ul ul .dropdown-toggle:focus .icon {
	fill: rgba(255, 255, 255, 0.5);
}
