.primary-navigation-wrap {
	border-top: 1px solid rgba(0, 0, 0, 0.075);
}

.main-navigation-toggle {
	display: none;
}

.primary-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
}

.main-navigation-menu {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	color: #303030;
	list-style-position: outside;
	list-style-type: none;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: 'Rambla', Tahoma, Arial;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.main-navigation-menu a {
	display: block;
	margin: 0;
	padding: 0.75em 1em;
	text-decoration: none;
}

.main-navigation-menu > .menu-item-has-children > a .icon {
	margin: 0.6em 0 0 0.4em;
	width: 14px;
	height: 14px;
	vertical-align: top;
	fill: #303030;
}

.main-navigation-menu > .menu-item-has-children > a:hover .icon,
.main-navigation-menu > .menu-item-has-children > a:active .icon  {
	fill: #cc5555;
}

.main-navigation-menu a:link,
.main-navigation-menu a:visited {
	color: #303030;
	text-decoration: none;
}

.main-navigation-menu a:hover,
.main-navigation-menu a:active {
	color: #cc5555;
}

.main-navigation-menu ul {
	position: absolute;
	z-index: 99;
	display: none;
	margin: 0;
	padding: 0;
	background: #cc5555;
	color: #fff;
	list-style-position: outside;
	list-style-type: none;
	font-size: 16px;
	font-size: 1rem;
}

.main-navigation-menu ul li {
	position: relative;
	margin: 0;
}

.main-navigation-menu ul a {
	padding: 1em;
	min-width: 250px;
	min-width: 16rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-navigation-menu ul a:link,
.main-navigation-menu ul a:visited {
	color: #fff;
}

.main-navigation-menu ul a:hover,
.main-navigation-menu ul a:active {
	color: rgba(255, 255, 255, 0.5);
}

.main-navigation-menu ul .menu-item-has-children > a .icon {
	margin: 0.5em 0 0 0.4em;
	width: 12px;
	height: 12px;
	vertical-align: top;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	fill: #fff;
}

.main-navigation-menu ul .menu-item-has-children > a:hover .icon,
.main-navigation-menu ul .menu-item-has-children > a:active .icon {
	fill: rgba(255, 255, 255, 0.5);
}

.main-navigation-menu li ul ul {
	top: 0;
	left: 100%;
}

.main-navigation-menu li.menu-item-has-children:hover > ul,
.main-navigation-menu li.page_item_has_children:hover > ul,
.main-navigation-menu li.menu-item-has-children[aria-expanded="true"] > ul {
	display: block;
}

.main-navigation-menu li.current-menu-item > a {
	text-decoration: underline;
}

.main-navigation-menu li.current-menu-item > a::after {
	text-decoration: none;
}
