button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin: 0;
	padding: 0.6em 1em;
	border: 1px solid;
	@include border-color(--light-border-color);
	background: none;
	@include color(--button-color);
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	@include color(--button-hover-color);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.3em 0.6em;
	max-width: 100%;
	border: 1px solid;
	@include border-color(--light-border-color);
	background: none;
	@include color(--medium-text-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border: 1px solid;
	@include border-color(--medium-border-color);
	@include color(--text-color);
}

textarea {
	width: 100%;
}
