/* Archives and Search Heading */
.page-header {
	margin: 0 0 1.5em;
	padding: 0;
}

.archive-title {
	margin: 0;
	padding: 0;
	color: #303030;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: normal;
	font-size: 20px;
	font-size: 1.25rem;
	font-family: 'Rambla', Tahoma, Arial;
}

.blog-description,
.archive-description p {
	margin: 0.5em 0 0;
}

.page-header .search-form {
	margin: 1.25rem 0 2.5em;
}
