/* Archives and Search Heading */
.page-header {
	margin: 0 0 1.5em;
	padding: 0;
}

.archive-title {
	margin: 0;
	padding: 0;
	@include color(--title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(20);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.blog-description,
.archive-description p {
	margin: 0.5em 0 0;
}

.page-header .search-form {
	margin: 1.25rem 0 2.5em;
}
