/* Infinite Scroll Pagination */
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle,
.infinite-scroll .infinite-loader {
	width: 100%;
	text-align: center;
}

.infinite-scroll .infinite-loader .spinner {
	bottom: -1em;
	left: auto;
	margin: 0 auto;
}

.infinite-scroll #infinite-handle span {
	display: inline-block;
	margin: 0 0 2.5em;
	padding: 0.6em 1em;
	border: 1px solid;
	@include border-color(--light-border-color);
	background: none;
	@include color(--button-color);
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
}

.infinite-scroll #infinite-handle span:hover {
	@include color(--button-hover-color);
}
