/* Theme Pagination */
.pagination {
	margin: 0 0 2.5em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	padding: 0 0.5em;
	text-align: center;
	text-decoration: none;
	@include font-size(20);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
}
