
/*--------------------------------------------------------------
## 19.1 - Sidebar Left Layout
--------------------------------------------------------------*/
.sidebar-left .content-area {
	order: 2;
	padding-right: 0;
	padding-left: 2em;
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
}

.sidebar-left .sidebar {
	order: 1;
	padding-right: 2em;
	padding-left: 0;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
}

@media only screen and (max-width: 80em) {
	.sidebar-left .content-area {
		padding-left: 1em;
	}

	.sidebar-left .sidebar {
		padding-right: 1em;
	}
}

@media only screen and (max-width: 57.5em) {
	.sidebar-left .content-area {
		padding: 0;
	}

	.sidebar-left .sidebar {
		padding: 2em 0 0;
	}
}

/*--------------------------------------------------------------
## 19.2 - Boxed Design
--------------------------------------------------------------*/
.boxed-design .site {
	margin: 2.5em auto;
	padding: 0;
	box-shadow: 0 0 2px #bbb;
}

.boxed-design .header-main,
.boxed-design .site-content,
.boxed-design .featured-posts-wrap {
	padding-right: 2.5em;
	padding-left: 2.5em;
}

.boxed-design .footer-wrap {
	padding: 0;
}

.boxed-design .site-footer {
	border-bottom: 0;
}

/*--------------------------------------------------------------
# 22.0 Customizer Preview
--------------------------------------------------------------*/
.magazine-widgets-placeholder {
	position: relative;
}

.magazine-widgets-placeholder .magazine-widgets-placeholder-title {
	display: block;
	margin: 0;
	padding: 1em 1em 1em 55px;
	border: 2px dashed #0085ba;
	color: #0085ba;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
}

/* Add some styling for visual edit shortcut buttons. */
.magazine-widgets-placeholder .customize-partial-edit-shortcut button {
	top: 14px;
	left: 15px;
}

.customize-partial-edit-shortcut-chronus_theme_options-blog_description,
.customize-partial-edit-shortcut-chronus_blog_layout_partial {
	left: -9999px;
}

.customize-partial-edit-shortcut-chronus_featured_content_partial button {
	top: -40px;
}

/*--------------------------------------------------------------
# 23.0 Print Styles
--------------------------------------------------------------*/

@media print {
	/* Hide elements */
	form,
	button,
	input,
	select,
	textarea,
	.header-bar-wrap,
	.primary-navigation-wrap,
	#secondary,
	.footer-navigation,
	.footer-widgets-background,
	.header-image,
	.page-links,
	.post-navigation,
	.pagination.navigation,
	.comments-area,
	.footer-wrap,
	.scroll-to-top {
		display: none !important;
	}

	body,
	.site {
		background: none !important;
	}

	.content-area {
		padding: 0;
		width: 100%;
	}
}
