.widget {
	margin: 0 0 2.5em 0;
	padding: 0;
	max-width: 100%;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-header {
	margin: 0 0 1.25rem;
}

.widget-title {
	display: block;
	margin: 0;
	padding: 0;
	color: #303030;
	@include font-size(20);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.widget ul li,
.widget ol li {
	padding: 0.4em 0;
	border-top: 1px solid rgba(0, 0, 0, 0.075);
	border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.widget ul li + li {
	border-top: none;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.widget-title a:link,
.widget-title a:visited  {
	color: #303030;
}

.widget-title a:hover,
.widget-title a:active  {
	color: #cc5555;
}

/* Theme Search Widget */
.search-form {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
}

.search-form .screen-reader-text {
	display: none;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.5em 1.5em 0.5em 0.7em;
	min-width: 150px;
	width: 100%;
	-webkit-appearance: none;
}

.search-form .search-submit {
	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	padding: 0.5em 0.75em;
	border: none;
	background: none;
}

.search-form .search-submit .icon-search {
	margin: 4px 0 0;
	width: 20px;
	height: 20px;
	fill: #cc5555;
}

.search-form .search-submit:hover .icon-search,
.search-form .search-submit:active .icon-search {
	fill: #303030;
}
